/*** development ***/
html {
  width: 90% !important;
  border-right: 1px dotted gray;
}



/*** IMPORTANT STRUCTURAL STYLES - without these, the page is really broken ***/
/*chunks of page to hide*/
  #appbar   /*1,000,000 results*/
, #mngb     /*contains search box*/
, #top_nav  /*contains 'any time' and 'any results' filters*/
, .pplsrsla /*'share' button*/
, .vspib    /*instant site previews on side*/
{
  display: none !important;
  visibility: hidden;
}

/*fluid width for sidebar/google's center column*/
#cnt #center_col, #cnt #foot, #cnt .ab_center_col {
  /*originally 528px*/
  width: auto !important;
}

#cnt {
  /*originally something like 823px, the page width (or close to that)*/
  min-width: 0 !important;
}

/*make green url text cut off with ellipsis, and only take up one line of text*/
cite {
  overflow-x: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*hide ads*/
#taw, #bottomads {
  display: none !important;
}


/*** ADJUSTING MARGINS/PADDING ***/

/* small tweaks */
#rcnt {
  /*originally set at 2px*/
  margin-top: 0 !important;
}


/*** OPTINIONATED STYLING ***/

/*strip all margins so li blocks are flush to the edges*/
#center_col, #foot,
#hdtb_msb > .hdtb_mitem:first-child, .ab_tnav_wrp, #cnt #center_col, .mw #center_col, .mw #foot,
#ires {
  /*flatten left/right margin of the page, originally around 120px*/
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.med {
  padding: 0 !important;
}

body {
  background-color: rgb(248, 248, 248) !important;
}

/*result blocks*/
.g, #botstuff { /*set footer area with same/consistent padding*/
  padding: 8px 10px !important;
  margin: 0 !important;
}

.g {
  border-bottom: solid #D4D4D4 1px !important;
  cursor: pointer;
  -webkit-transition: background-color 0.15s;

  background-color: rgb(248, 248, 248); /*transition looks likely flaky when transitioning to transparent*/
}

.g:hover {
  background-color: hsl(215, 81%, 96%);
}

/*** TEMPORARY/UNSURE ***/
/*right hand side column*/
#rhscol {
  display: none;
}

/*quick links below result - irrelevant since you already have the side open*/
.nrgt {
  display: none;
}
