
.tsf-p
  padding-left: 9px !important
  padding-right: 9px !important


//?
cite b
  font-weight:normal

//?
div.ksfccl
  margin-right:17px


.f.kv
  white-space: nowrap !important
  width: 100%

.l
  word-wrap: break-word !important

span.gl a
  opacity:.75

#bfl
  display: none

#brs
  border-bottom: 1px solid #E5E5E5 !important
  padding: 10px 16px 10px 16px
  margin: 0 !important
  
.sp_cnt 
  margin-top: 0
  padding: 10px 16px 10px 16px !important

#nav
  margin-bottom: 11px !important
  margin-top: 22px !important
  font-size: 1.1em
  margin-right: 63px !important

//**********
.l
  white-space:normal !important

.ch
  background:none !important
  height:15px !important

a.fl
  margin:0 2px

#apBreakStart1
  height:7px !important
  margin-bottom:7px !important
  margin-top:11px !important

#apBreakStart1 span
  display:none !important
  visibility:hidden !important

span.csb
  display:none
  visibility: hidden

#pnnext.pn span
  margin-left:6px !important

#pnnext
  right:0 !important

#knavm
  margin-left:0 !important
  display:inline-block !important

div.bl span.ch
  display:inline !important
  word-wrap:break-word !important

li.gbt a.gbp1
  display:none
  visibility: hidden

#lst-ib + div.gsfi 
   width: auto
   

#lst-ib
  margin-right:-21px !important
  padding-right:0 !important

p.sp_cnt nobr
  white-space:normal
  display:block
  margin-right:-14px

p.sp_cnt
  border-bottom:1px solid #e5e5e5
  margin-bottom:3px
  padding-bottom:8px

p.sp_cnt br
  display:none
  visibility: hidden

td > a.fl
  display:none !important
  visibility: hidden

td.b.navend #pnprev.pn
  margin-right:-32px !important

#gb_6,#gb_5,#gb_119,#gb_8,#gb_23, #gb_78
  display:none !important
  visibility: hidden

.f.kv+span.st>span.ft
  word-wrap:break-word

.g.tpo
  display:none !important
  visibility: hidden

a.gssb_j.gss_ifl
  display:none
  visibility: hidden

div.gl
  white-space:normal

ol.gbtc>li.gbt+li.gbt+li.gbt+li.gbt+li.gbt+li.gbt+li.gbt+li.gbt
  float:left

#tsf
  max-width:2024px !important
  min-width:50px !important

#gbx4
  display:none
  visibility: hidden

#gbz
  width: 99%
  z-index:991 !important

.f.kv+span.st
  word-wrap:break-word !important

#logocont
  display:none !important
  visibility: hidden

#gbztms1
  text-transform:capitalize

span.st
  word-wrap:break-word

body
  display:block !important

html
  width:100%
  

#searchform.jsrp,#gbx3
  width:100%

td.nrtd
  display:block !important
  width:100% !important

.closeBtn
  background: $topBarGradient
  float: right
  color: $topBarGray
  margin-top: -1px
  position: relative
  z-index: 992
  cursor: pointer
  height: 28.9px
  padding-top: 3px !important
  padding-left: 3px !important
  padding-right: 8px !important


#logocont+.tsf-p
  margin-right:auto

#gbx3
  width:100%

#subform_ctrl
  margin-right:79px

.searchPlusDiv
  position:fixed
  background:white
  z-index:991
  top:0
  right:0
  height:100%
  width:78%
  border-left:solid gray 1px

.innerDiv
  position:static
  height:100%
  width:100%

.eswd,.eswh, button.esw
  display: inline
  background: url(/images/experiments/p1/p1sprite.png) !important
  border-radius: 2px
  background-position:-400px 0 !important
  top:2px
  float:right
  position:relative
  z-index:100

body 
  overflow-x:hidden !important
  display:block !important

div.s>.ts>tbody>tr+tr>td>a
  display:block
  width:82px

div.s>.ts>tbody>tr+tr>td+td>div>cite
  margin-top:-2px


//
.ts tbody tr td
  display:inline !important

.ts, .ts tbody, .ts tbody, .ts tbody tr, .ts tbody tr td
  display:block !important

.ts tbody tr td *
  word-wrap: break-word
  
div.s>.ts>tbody>tr+tr>td:first-child
  float:left
  width:auto
  margin-right:-1px
  height:auto

div.s>.ts>tbody>tr+tr>td+td>div
  padding-top:6px

div.vspib + .ts > tbody > tr > td:first-child 
  float: left

div.vspib + .ts > tbody > tr > td + td > a.l + span > cite 
  display: inline

.ts > tbody > tr > td + td > div > span.gl > cite 
   width: auto 

#rso > .g.knavi > .vsc.nulead + .ts > tbody > tr > td:first-child 
  float: left

.g.videobox > .vsc > div.s > .ts > tbody > tr > td:first-child 
   float: left
   width: auto

#rso > .g > .vsc > div.s > .ts > tbody > tr > td[valign=top]:first-child 
   float: left 

#rso > .g > .vsc > div.s > .ts > tbody > tr > td[valign=top]:first-child > div:first-child 
   padding: 0 5px 0 0 !important 

td.f > a.fl 
  display: block !important

#rso > .g > .vsc:first-child > .r:first-child + div.vspib + .s > .f.kv + div.esc.kb + .ts:last-child > tbody:first-child > tr:first-child > td[valign=top]:last-child > div.f.kb > table[border="0"][cellpadding="0"][cellspacing="0"].ti
  width:65px !important;  
  > tbody > tr > td {float:left;};

#rso > .g > .r + div + table[style="margin-top:2px"].ts > tbody > tr:first-child > 
  td[valign=top]:first-child 
    float: left
    margin-right: 3px
  td[valign=top]:last-child 
    padding-left: 0 !important 
  td[valign=top]:last-child > div.s:first-child  
    padding-top:1px



#cnt #center_col,#cnt #foot
  width:inherit

div.vspib
  display:none
  visibility: hidden

#nyc
  display:none !important
  visibility: hidden

#tsf
  width:auto !important

html
  display:block !important

.ksfcccl
  width:inherit !important
  margin-right:2px !important

#sflas.gl.nobr
  display:none !important
  visibility: hidden

cite.kvm 
  display:block
  white-space: nowrap !important
  width: auto
  margin-top: -2px
  padding-right: 31px

cite.kvm > button 
   position: relative
   top: -15px
   right: -31px 

.g > #knavm 
  padding-top: 10px !important
  left: 2px !important

span.spell_orig
  padding-left: 5px
  margin-left: 6px
  border-left: solid gray 1px

table.nrgt 
  display: none

#res
  padding: 0 !important

#cnt #center_col, #cnt #foot 
  width: inherit !important
  padding: 0 !important

.r + .s > .f.kv > span:last-child 
   float:right 


.gl, #foot a, .nobr 
  white-space: normal !important

.g
  padding:0 16px 0 16px

#center_col
  padding:0
  margin-left:0 !important

#res
  padding:0

p.sp_cnt
  margin-bottom:0

//gbqfqw
#gbqfqw
  -webkit-border-radius:4px !important
  border-radius:4px !important
  -webkit-transition:border linear .2s,box-shadow linear .2s

#gbqfqw:hover
  border: 1px solid rgb(185, 185, 185)
  border-top: 1px solid rgb(160, 160, 160)
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1)


/*think these are no longer used..*/
#sftab > div.lst-d, #gbqfqw
  border-radius:4px
  -webkit-transition:border linear .2s,box-shadow linear .2s
#sftab > div.lst-d > table.lst-t
  border-radius:4px
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1)
.lst-d-f .lst-tbb,.lst-d-f.lst-tbb, #sftab.lst-d-f:hover .lst-tbb
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px #cbd7ff !important


#gbx3 
  background: $topBarGradient

div.std > a > img
  border: solid #D3D3D3 1.9px
  padding: 0 !important

div.e 
  margin: 0
  padding: 10px 16px 10px 16px
  border-bottom: 1px solid #E5E5E5 !important

div.gl > cite 
  width: auto


#tads, #tadsb, #tadsto
  blockStyles()
  width: auto


#topstuff > * 
  blockStyles()


#botstuff > * 
  blockStyles()

#topstuff > #spr
  display: none



#topstuff .sp_cnt, #topstuff .ssp 
  blockStyles()

#botstuff > div.s.std
  blockStyles()

#botstuff > #brs + #vspb + #uh_hp + #uh_h + div
  blockStyles()

#botstuff > p.ssp
  blockStyles()

#topstuff > #msg_box > p > span + a + br
  display:none
  visibility: hidden


#botstuff > #uh_h 
  padding: 0 !important
  border: none !important



.gbts
  -webkit-transition: color linear 0.2s


#gbz .gbzt:hover, #gbz .gbgt:hover, #gbg .gbgt:hover
   color: white !important
 
 
.gbzt-hvr, .gbzt:focus, .gbgt-hvr, .gbgt:focus 
  background: $topBarGradient


.gbto #gbztms1 
   color: #36C


.gbto .gbts:hover 
  color: #36C !important


.closeBtn:hover
  color:white

#gb 
  position: fixed
  width: 100%
  top: 0 

div#sdb + div.ksfcccl > div.ksfccl 
  display: none
#searchform 
  top: 41px !important
#searchform > div.sfbg.nojsv
  top: -30px !important
#subform_ctrl
  display: none
#gbz
  position: fixed !important

#searchform 
  position: fixed !important
  z-index: 980 !important 

body 
  text-rendering: optimizeLegibility
  z-index: 5 !important
.gssb_c
  position: fixed !important
#gbz .gbzt, #gbz .gbgt, #gbg .gbgt 
  color: $topBarGray
#rso > .g > .r + div 
  margin-right:0 !important


.brs_col
  white-space:normal !important
#center_col
  white-space: normal
#gbz
  width: inherit !important
#msg_box > p 
   margin-bottom: 0 
#sform 
   display: none !important
button.gbil.esw.eswd, .esws, .eswh, .esw, .eswa 
  display: none !important


#gbu, #gbq1, #gbqfbw 
  display: none
#gbqf 
  min-width: 7px !important
  padding-right: 14px !important 
#gbq2 
  margin-left: 14px !important
#gbx1, #gbx2 
  min-width: 9px !important

#gb_25, #gb_24, #gb_36 
  display: none !important

#gbx1 
  height: 52px !important

#gbq2 
  padding-top: 12px !important

/*for Search+ (Google's Search+)*/
.spri 
  display: none !important
/*hides some shitty table divs of addresses that link to a map preview in Googles preview pane*/
#rso > .g > .vsc > div[style="float:right"]:first-child > div[style*="width:168px"]:first-child 
  display: none
/*for G+ profile authors. This wraps text around the authors pic*/
#rso > .g > .vsc:first-child > div.s > .ts > tbody > tr > td[valign="top"]:last-child > div:first-child > span[style*="white-space:nowrap"] 
  white-space: normal !important

/*for add to circles shit..*/
#rso>.g
  margin: 0 !important
#rso > .g > .s > cite:first-child + div[style="top:0;right:0"]:nth-of-type(1) 
  display: none


//'part 3'
body
  margin-top: 83px !important
//doesn't seem needed anymore..
#cnt > div.mw:first-child
  height: 0 !important
#cnt
  padding-top: 0 !important

//for ads...
#tads > h2:first-child 
  margin: 0 -13px 0 0 !important

table.gssb_c
  position: fixed !important
  top: 70px !important





#__su__toolbar
  display: none
  width: 0

//for news search, couldn't get this line to work.
#topstuff > form.naslf
  display: none

#topstuff > br:last-child
  display: none !important
