@import 'SCOUT-CSS'

/* Turn on a 16px wide scrollbar */
::-webkit-scrollbar
    width: 13px
    -webkit-border-radius: 90px
    border: 1px solid rgba(0, 0, 0, 0.09)



/* The thumb itself */
::-webkit-scrollbar-thumb:vertical
    cursor: pointer
    background: rgba(0,0,0,0.5)
    -webkit-border-radius: 80px
    border: 1px solid #555

::-webkit-scrollbar-thumb:vertical:hover
    background: rgba(0,0,0,0.57)
    border: 1px solid #666


/* Turn on up/down buttons on the top of the scrollbar. 
   :start means the top of the scrollbar. */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:start:increment
    display: block

/* Turn off up/down buttons on the bottom of the scrollbar */
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:end:decrement
    display: none


/* Up button */
::-webkit-scrollbar-button:start:decrement
    background: url(images/up-button.png)
    height: 15px

/*::-webkit-scrollbar-button:start:decrement:hover
    background: url(up-button-hover.png)
    height: 15px
*/

/* Down button */
::-webkit-scrollbar-button:start:increment
    background: url(images/down-button.png)
    height: 15px

/*::-webkit-scrollbar-button:start:increment:hover
    background: url(down-button-hover.png)
    height: 15px
}*/

/* Top scroll 'gutter' */
::-webkit-scrollbar-track-piece:vertical:start
    background-image: url(images/gutter.png)
    background-repeat: no-repeat

